In [82]:
import gdown
url='https://drive.google.com/uc?id=15xs6IfGMPxLkMPc3gMyR4TXkzYjhCPRw'
filename='mostSoldGames'
gdown.download(url, filename, quiet = False)

Downloading...
From: https://drive.google.com/uc?id=15xs6IfGMPxLkMPc3gMyR4TXkzYjhCPRw
To: /content/mostSoldGames
100%|██████████| 1.36M/1.36M [00:00<00:00, 77.0MB/s]

'mostSoldGames'

In [83]:
import pandas as pd

dt = pd.read_csv(filename, encoding='utf-8', low_memory=False)
dt.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

해당 데이터를 활용하여, 세부 국가 데이터를 제외한 국제 데이터만 뽑아서 재배열한 다음, 그래프를 그려서 여러 주제로 만들지 생각함.

In [84]:
dt_onlyGL=dt.drop(['Rank','NA_Sales','EU_Sales','JP_Sales','Other_Sales'], axis=1)
dt_onlyGL.head()

,Name,Platform,Year,Genre,Publisher,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,31.37

In [85]:
dt_sorted=dt_onlyGL.sort_values(by=['Global_Sales'],ascending=[False])
dt_sorted.head()

,Name,Platform,Year,Genre,Publisher,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,31.37

In [86]:
import numpy as np
dt_sorted2=dt_sorted.replace('N/A', np.nan)
dt_sorted2.head()

,Name,Platform,Year,Genre,Publisher,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,31.37

In [87]:
rank=[]
rankNum=0
for x in range(0,16598):
  rankNum+=1
  rank.append(rankNum)
  

dt_sorted.insert(0,"GlobalRank",rank)
dt_sorted.head()

,GlobalRank,Name,Platform,Year,Genre,Publisher,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,31.37

이로써 글로벌 전체순위로 정렬하여, 국제적으로 다운로드한 순위를 확인할 수 있다.

이제 남은 행들을 분석하여 그래프를 그려본다.
현재 분석할 수 있는 행은 플랫폼,년도,장르,퍼블리싱 회사이다.

In [90]:
dt_sorted.astype({'Year':'int32'})

IntCastingNaNError: ignored

In [ ]:
YearValue=dt_sorted['Year'].value_counts()
print(YearValue)

In [ ]:
import matplotlib.pyplot as plt

plt.rcParams['figure.dpi']=100

In [ ]:
plt.plot(count_by_year.index,count_by_year.values)
plt.title('Books by year')
plt.xlabel('year')
plt.ylabel('number of books')
plt.show()